.greeting {
  width: 100%;
}

.main-header {
  width: 100%;
  background-color: #0060bf;
  // font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
}

#navbar-logo {
  padding: 10px;
  font-size: 20px;
  color: white;
  font-weight: 700;
}

.navbar-links {
  margin-top: 26px;
  margin-bottom: 26px;
  padding-left: 0px;
}

.navbar-links > * {
  padding: 10px;
  display: block;
  float: left;
  width: 80px;
  font-size: 20px;
  font-weight: 700;
}

#link {
  top: 0px;
  color: white;
  width: 40px;
}

.greeting-main {
  background: image_url('remindur_main_page.jpg') 60% no-repeat;
  background-size: cover;
  height: 450px;
  // background-repeat: no-repeat;
  // margin-left: auto;
  // margin-right: auto;
  // margin: 0 auto;
}
