.greeting-navbar {
  width: 100%;
  border-bottom: 5px solid blue;
}

.greeting-navbar {
  float: left;
}

#title {
  width: 80px;
  padding: 10px;
}

.navbar-links li {
  background-color: gray;
  list-style: none;
  padding: 10px;
  margin: 0 8px;
  float: left;
  width: 80px;
}
