.main-siderbar {
  width: 175px;
  position: absolute;
  background-color: #eee;
  top: 80px;
  bottom: 0;
  height: auto;
  overflow: scroll;
}

.main-siderbar section h2 {
  text-align: left;
  padding: 8px;
  border-bottom: 1px dashed;
  font-weight: 550;
}

.main-siderbar section {
  display: block;
}

.main-siderbar > * {
  cursor: pointer;
}

.main-siderbar li {
  padding: 4px 10px 4px 10px;
  font-size: 13px;
  overflow-wrap: break-word;
}

header.list-titles {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px dashed;
  font-weight: 550;
}
