.main-form {
  width: 550px;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  top: 80px;
  bottom: 0;
  height: auto;
  left: 175px;
}

.main-form {
  border-bottom: 1px dotted;
  border-top: 1px solid;
  padding: 2px 0;
  height: 26px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom-color: #e5e5e5;
  border-top-color: #fff;
  height: 100%;
  overflow: auto;
}

.main-form h1 {
  padding: 15px 0;
  background-color: #fff;
  text-align: left;
  position: sticky;
  top: 0px;
}

.taskForm {
  position: sticky;
  top: 40px;
  background-color: white;
}

.task-form input[type=text] {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
}

.task-form input[type=submit] {
  display: none;
}

.task-form input[type=checkbox] {
  width: auto;
}

form.task-form {
  background-color: white;
  top: 45px;
  position: sticky;
}

.list-items ul label {
  display: block;
  width: 100%;
  border-bottom: 1px dotted;
  border-top: 1px solid;
  padding: 2px 0;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom-color: #e5e5e5;
  border-top-color: #fff;
}

.list-items ul label span {
  padding: 5px 5px 5px 10px;
  font-size: 13px;
}

.Lifazul{
  display: block;
  height: auto;
}
